<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test SVG</title>
  <style>
    body { background-color: black; color: white; }
  </style>
</head>
<body>
<div style="display:flex">
  <div id="svgcontainer">
    <img src="{{svg1}}"/>
  </div>
  <div id="svgcontainer2">
    <img src="{{svg2}}"/>
  </div>
</div>
</body>
</html>
